node_modules/
coverage/
uiweb/
dist/
logs/
*-run/
npm-debug.log
jars/
app/proxy*
fntest/.totoro-fn-tmp
assembly/
.idea
run/
config/map.json

.DS_Store
app/web/page/.umi
mocks_data/proxy/**/__*
app/view/packages/